body{
  margin: 0;
  padding: 0;
}
.header{
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.heading{
  cursor: pointer;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  background-color: antiquewhite;
}
.right-table{
  
  border: 2px solid #cbddf5;
  padding: 10px;
}
.sc{
  height: 600px;
  overflow-y: scroll;
}
.single{
  display: flex;
}
.single h1{
  font-size: 12px;
}
.head{
  display: flex;
 
}
table { 
  border-collapse: collapse; 
}

th{
  width:150px; 
  text-align:center; 
  Color:rgb(151, 149, 149); 
  padding:5px
  
}
td { 
  width:150px; 
  text-align:center; 
  border:2px solid #cbddf5; 
  padding:5px 

} 
.om1{ 
  border-right:hidden; 
  
} 
.om2{
border-left:hidden;
}
.geeks { 
  border-right:hidden; 
  border-left:hidden;
} 
.gfg { 
  border-collapse:separate; 
  border-spacing:0 15px; 
} 
h1 { 
  color:green; 
}
h6{
  font-size: 12px;
}